<ion-grid> 
  <ion-row>
    <ion-col>
      My Digital Wallet
    </ion-col>
  </ion-row>


  <ion-card *ngFor="let c of cList">

    <ion-card-header>
      <ion-card-title>{{c["cNum"]}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3">Valid Thru {{c["eMonth"]}}/{{c["eYear"]}}</ion-col>
          <ion-col size ="2" offset="5">CVV ***</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">{{c["pName"]}}</ion-col>
          <ion-col size ="2" offset="5">
            <img *ngIf="c['cNum'].charAt(0) === '4'" src="../../assets/icon/Visa_Inc._logo.png" alt="">

            <img *ngIf="c['cNum'].charAt(0) === '5'" src="../../assets/icon/Mastercard.png" alt="">
            
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>

      <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      


</ion-grid>