<ion-grid>
  <ion-row>
    <ion-col>
      Add New Card to Wallet
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-input label="Card Number" labelPlacement="stacked" placeholder="Enter text"></ion-input>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <ion-datetime presentation="month-year" [preferWheel]="true"></ion-datetime>
    </ion-col>
 
  </ion-row>

  <ion-row>
    <ion-col size="3">
      <ion-input label="CCV" labelPlacement="stacked" placeholder="Enter text"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-input label="Name on Card" labelPlacement="stacked" placeholder="Enter text"></ion-input>
    </ion-col>
  </ion-row>

</ion-grid>